body{
    background-image: linear-gradient(#00ADEE,#652C90);
}

.title{
    color: white;
    text-align: center;
}

.login-button{
    margin:8px;
    margin-left:35%;
    color:white;
    background-color:#00ADEE;
    border:none;
    padding:5px;
    box-shadow:2px 2px white;
    border-radius: 5px;
}